- content_for(:outside_main) do
  .hero
    .hero-inner
      %a.hero-logo{href: ""}
        %img{alt: "", src: "https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png"}/
      .hero-copy
        %h1= t('.hero.title')
        %p= t('.hero.description')
      %button= t('.hero.learn_more')


%section
  .bullets
    = link_to new_user_path, class: "bullet two-col-bullet" do
      .bullet-icon.bullet-icon-1
        %img{alt: "", src: "https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png"}/
      .bullet-content
        %h2 Begin a Story
        %p Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.
    = link_to stories_path, class: "bullet two-col-bullet" do
      .bullet-icon.bullet-icon-2
        %img{alt: "", src: "https://raw.github.com/Magnus-G/Random/master/placeholder_logo_3.png"}/
      .bullet-content
        %h2 Contribute to a Story
      %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.
