!!!
%html
  %head
    %title Getinvolved
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav
      .menu-wrapper
        %a.logo{href: "javascript:void(0)"}
          %img{alt: "", src: "https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png"}/
        %p#js-mobile-menu.navigation-menu-button MENU
        .nav
          %ul#navigation-menu
            %li.nav-link
              %a{href: "javascript:void(0)"} Stories
            %li.nav-link
              %a{href: "javascript:void(0)"} Contributors
        .navigation-tools
          %a.sign-up{href: "javascript:void(0)"} Get Involved
    %main
      #flash
        - if flash.any?
          - flash.each do |name, msg|
            %div= msg
      = yield